@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #445;
    padding-bottom: 50px;
    font-family: "Montserrat", sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.hero {
    background-image: url(images/lance.jpg)
}