

body {
    background-color: rgb(153, 204, 255);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.btn{
    background-color: white;
    font-size: 1.2rem;
    padding: 1.5rem 3rem;
    margin: 1rem;
    border-radius: 5px;
    border: none;
    ;
}